.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
.projeck {
  background-color: #e2edff;
}
section {
  padding-top: 5rem;
}
.h1 {
  font-family: times new roman;
  font-size: 40px;
  background: linear-gradient(to right, red, blue, black, yellow);
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
